*
!*/
!.gitignore
!LICENSE

!src/
!*.scala
!*.v
!build.sbt
!build.sc
!README.md
!.scalafmt.conf
!pic/
!pic/*
!paper/
!paper/*.md
!paper/*.docx
!paper/*.pdf

.*/
project/
target/
# test_run_dir/
vivado_proj/
bak/
DW_ram_r_w_s_dff.v

test_run_dir/*
!test_run_dir/PEArray/*.v

!behavioral-level-matlab/*.m
!behavioral-level-matlab/*.mat
